APP_BASE_URL=https://springmeadowcommunity-1nrq.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://jhepbhfjignphgjrfrpk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QrwNII-CBAhRIBRVzo_jtQ_6SLb5KP-
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
RESEND_FROM_EMAIL=
